In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv(r"C:\Users\alif\OneDrive\Dokumen\serba serbi data mining\datasetsKaggle\data.csv")

df.head()

,house_type,locality,city,area,beds,bathrooms,balconies,furnishing,area_rate,rent
0,"2 BHK Flat for Rent in Oberoi Woods, Goregaon ...",Goregaon East,Mumbai,897.0,2,2,0,Semi-Furnished,134.0,120000.0
1,"1 BHK Flat for Rent in Sapphire Lakeside, Powa...",Powai,Mumbai,490.0,1,1,0,Semi-Furnished,82.0,40000.0
2,1 BHK House for Rent in Mundhwa Pune,Mundhwa,Pune,550.0,1,1,0,Unfurnished,22.0,12000.0
3,"2 BHK Flat for Rent in Hingna, Nagpur",Hingna,Nagpur,1000.0,2,2,0,Unfurnished,8.0,8000.0
4,1 BHK Flat for Rent in Unique Star Harsh Vihar...,Mira Road,Mumbai,595.0,1,1,0,Unfurnished,25.0,15000.0

In [2]:
simpan_data = ['locality', 'city', 'area', 'beds', 'bathrooms', 'balconies', 'furnishing', 'area_rate', 'rent']
df_clean = df[simpan_data]

df_clean.to_csv('df_clean.csv', index=False)

=========== DIBAWAH INI CUMAN CEK-CEK DOANGGGGG ============

In [14]:
# # Cek jumlah missing values di setiap kolom

# print("Jumlah Data yang Hilang")
# missing_count = df_clean.isnull().sum()
# print(missing_count)

# print("\nPersentase Data yang Hilang")
# missing_percent = (df_clean.isnull().sum() / len(df_clean)) * 100
# print(missing_percent)

# print("\nKolom dengan Data Hilang")
# miss_value = [col for col in df_clean.columns if df_clean[col].isnull().any()]
# print(miss_value if miss_value else "Tidak ada data yang hilang!")

In [15]:
# plt.figure(figsize=(10,6))

# # Add title
# plt.title("Distribusi Jumlah kamar mandi di Properti")

# # Count the frequency of each number of beds
# beds_count = df_clean['bathrooms'].value_counts().sort_index()

# # Bar chart showing distribution of beds
# sns.barplot(x=beds_count.index, y=beds_count.values, palette='viridis')
# plt.xlabel('Jumlah kamarmandi')
# plt.ylabel('Frekuensi')
# plt.grid(axis='y', alpha=0.3)
# plt.show()

In [16]:
# plt.figure(figsize=(10,6))

# # Add title
# plt.title("Distribusi Jumlah kasur di Properti")

# # Count the frequency of each number of beds
# beds_count = df_clean['beds'].value_counts().sort_index()

# # Bar chart showing distribution of beds
# sns.barplot(x=beds_count.index, y=beds_count.values, palette='viridis')
# plt.xlabel('Jumlah kasur')
# plt.ylabel('Frekuensi')
# plt.grid(axis='y', alpha=0.3)
# plt.show()